<h1>Shorten My Link:</h1>

<%= form_tag site_create_path do %>
  <%= label_tag(:id, "Type URL here:") %>
  <%= text_field_tag(:term) %>
  <%= submit_tag("Create URL") %>
<% end %>
<%= link_to "#{request.host_with_port}/#{@newurl.id}", "/#{@newurl.id}"  %>
